body {
    background-image: url("images/fond1.png");
    position: relative;

}


.row {
    display: flex;
    margin-bottom: 15px;
    margin-top: 15px;
}

.col-4 {
    width: 30%;
}

.col-8 {
    text-align: center;
    
}



.logo {
    font-family: "Kaushan Script";
    font-size: 2em;
    margin-top: 0px;
}


#logo , p {
    display: inline-block;
    vertical-align: bottom;
}



header {
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}




/*navigation*/
nav {
    width: 100%;
    margin: 10 auto;
    top: 0px;
}

nav ul {
    list-style-type: none;
    width: 1000px;
    float: right;
    font-size: 22px;
    margin-top: 0px;
}

nav ul li {
    float: right;
    width: 20%;
    text-align: center;

}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}


/* style du titre de la page */
.titre {
    font-family: "Kaushan Script";
    font-size: 45px;
    padding-top: 70px;
    text-align: center;
    margin-bottom: 90px;
}

/* Style presentation  */

.prenom {
    font-family: "Kaushan Script";
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    }


.imgProf {
    display: block;
    margin: auto;
    max-width: 50%;
    height: 100px;
    float:right;
    

}


.presentation{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    }  

/* Style lien CV */

.CV ul {
    list-style-type: none;
    width: 150px;
    float: left;
    font-size: 22px;
    }

.CV ul li {
    float: right;
    width: 30%;
    text-align: center;

}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

.CV a {
    display: block;
    font-family: "Kaushan Script";
    text-decoration: none;
    color: black;
    width: 350%;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    
}

.CV a:hover {
    color: orange;
    border-bottom: 2px solid gold;
}

    

    
/* Corps */

.ico_categorie {
    vertical-align: left;
    margin-right: 8px;
}

.titreArt {
    font-family: "Kaushan Script";
    font-size: 30px;
    text-align: center;
    color: black;
    

}


.page {
    width: 65%; /* je donne une largeur fixe */
    margin: auto; /* je centre horizontalement */    
    padding-bottom:30px;

}
.texte {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.3em;
    margin-left: 20px;
    text-align: center;
}


.imageActu {
    display: block;
    margin: auto;
    width: 300px;
    height: auto;
}

.image{
    display: block;
    margin: auto;
    max-width : 75%;
    height : 200px;
    
}

/*formulaire commentaire*/

.com{
    margin-left: 25px;
}

.com p{
    margin-bottom: 0px;
    font-size:  20px;
    font-family: "Kaushan Script";
}

.commentaire {
    margin: 70px auto;
    float: center;
    width: 30%;
}  
#contact-com {
    font-size: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}
#contact-com input[type=submit] {
    margin: 15px auto 0px;
    display: block;
}



.button2 {
    border: 1px solid #ddd;
    background: #ffa500;
    color: #fff;
    width: 50%;        
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.button2:hover {
    background: #333;
    border-color: #ffa500;
}


/*formulaire contact*/

.contact {
    margin: 70px auto;
    float: center;
    width: 70%;

}

#contact-form {
    font-size: 20px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}

.blue {
    color: #0069d6;
}
.form-control {
    height: 50px;
    font-size: 18px;
}
#contact-form input[type=submit] {
    margin: 40px auto 0px;
    display: block;
}
.comments {
    font-style: italic;
    font-size: 18px;
    color: #d82c2e;
    height: 25px
}
#contact-form .thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}
.button1 {
    border: 1px solid #ddd;
    background: #ffa500;
    color: #fff;
    width: 100%;        
    font-weight: bold;
    text-transform: uppercase;
    padding: 18px;
    border-radius: 5px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover {
    background: #333;
    border-color: #ffa500;
}


/* footer */
#main{ 
    margin-bottom: 1700px;   
    position:relative;    
}

.footer-basic {
    position: absolute;
    padding-bottom: 0;
    color: #4b4c4d;
    border: 2px solid #4b4c4d;
    width: 100%;
    height: 110px
}
/* Image pour remonter directement en haut de la page */
#scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
}

#scroll_to_top img {
    width: 25px;
}

/* reglage icon reseaux sociaux */

.footer-basic a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
    margin-top: 15px;
}

/* reglage icon reseaux sociaux */

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

/* reglage copyright */
.footer-basic .copyright {
    text-align: center;
    font-size: 13px;
    color: #aaa;
}